$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "compass";
@import "bootstrap-sass/lib/bootstrap"; 

//$base-font-size: 16px;
//$base-line-height: 24px;
//@include establish-baseline();




/* Put your CSS here */


html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 20px auto 0 auto;
    width: 500px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    padding: 30px 60px 60px 60px;
    @include border-radius(25px);
}

.hero-unit h2 {
    text-align: center;
    line-height: 1.5em;
}

.center {
	text-align: center;
}
