
<IfModule mod_rewrite.c>
    Options -MultiViews
    Allow from all
    RewriteEngine On

	#RewriteRule ^frontend - [L,NC]

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.+)$ /index.php/$1 [NC,L,QSA]
    #ORIGINAL LARAVEL - RewriteRule ^ index.php [L]
    
    #RewriteCond %{REQUEST_FILENAME} /api/$
    RewriteBase /api
    RewriteRule ^(.+)$ /api.php/$1 [NC,L,QSA]
    
</IfModule>